@media only screen and (min-width: 768px) {
    .intro-header .site-heading h1,
    .intro-header .page-heading h1 {
        font-size: 60px;
    }
}

.no-decoration {
    text-decoration: none !important;
}

.navbar-brand img {
    max-height: 38px;
    margin-top: -8px;
    cursor: pointer !important;
}

.is-fixed #light-logo {
    display: none;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-top {
    margin-top: 0;
}

.add-margin-bottom {
    margin-bottom: 24px;
}

.add-margin-bottom-small {
    margin-bottom: 16px;
}

.add-margin-top {
    margin-top: 24px;
}

.add-margin-top-small {
    margin-top: 16px;
}

.add-margin-top-big {
    margin-top: 42px;
}

.add-padding-right {
    padding-right: 4%;
}

.add-padding-left {
    padding-left: 4%;
}

.members .panel-heading {
    cursor: pointer;
}

.members .panel-heading:hover {
    opacity: 0.7;
}

.members th {
    background-color: #f5f5f5;
    text-align: right;
}

.members .panel-body .col-md-4 {
    text-align: center;
}

.members .panel-body .col-md-4 img {
    width: 80%;
}

.dropdown li a {
    color: #404040 !important;
}

.btn-sm {
    font-size: 12px;
}

h4.paper-title {
    font-weight: lighter;
    color: darkslategray;
}

.publications-index h3 {
    font-weight: lighter;
}

.menu-flag {
    max-height: 22px;
    margin-top: -4px;
    cursor: pointer !important;
}

#major-research-lines-row .panel-body {
    min-height: 100px;
}

#research-row .panel-body {
    min-height: 185px;
}

.small-margin-p {
    margin-top: 8px;
    margin-bottom: 8px;
}

.non-scientific .thumbnail:hover {
    opacity: 0.7;
    border-color: darkslategray;
}

.accordion-news .panel-title {
    font-weight: normal;
}

.accordion-news .panel-body {
    text-align: justify;
}

.accordion-news p {
    margin-top: 8px;
    margin-bottom: 8px;
}

.accordion-news a {
    text-decoration: none;
}