<hr>

<!-- Footer -->

<footer>
    <div class="container">
        <div class="row" style="margin-bottom: 2em;">
            <div class="col-md-10 col-md-offset-1 text-center">
                <b>Group Address</b><br/>
                GFMC, Dpto. Fisica de Materiales, Universidad Complutense de Madrid. Plaza Ciencias, 1 28040 Madrid, Spain
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <small>
                    <a href="http://www.ucm.es/">Complutense University of Madrid</a>
                    &nbsp; &nbsp; &nbsp;
                    <a href="http://www.ucm.es/centros/webs/ffis/">Faculty of Physical Sciences</a>
                    <br/>
                    <a href="https://www.ucm.es/fisicamateriales">Materials Physics</a>
                    &nbsp; &nbsp; &nbsp;
                    <a href="http://www.campusmoncloa.es/">CEI Moncloa</a>
                    &nbsp; &nbsp; &nbsp;
                    <a href="http://www.ucm.es/BUCM/">Library</a>
                </small>
            </div>
        </div>
    </div>
</footer>

<!-- Google Analytics -->

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-55960442-1', 'auto');
    ga('send', 'pageview');
</script>

</body>

</html>
