<!--suppress HtmlUnknownTarget -->

<!-- Navigation -->

<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.php">
                <img class="hidden-sm hidden-xs" id="light-logo" src="../../img/logo-light.png">
                <img class="hidden-md hidden-lg" id="dark-logo" src="../../img/logo-dark.png">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="index.php">Home</a>
                </li>
                <li>
                    <a href="research.php">Research</a>
                </li>
                <li>
                    <a href="members.php">Members</a>
                </li>
                <li>
                    <a href="financial-support.php">Support</a>
                </li>
                <li>
                    <a href="collaborations.php">Collaborations</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="publications.php">Publications</a></li>
                        <li><a href="thesis.php">Thesis</a></li>
                        <li><a href="book-chapters.php">Book Chapters</a></li>
                        <li>
                            <a href="../../files/misc/ornl-statement.pdf" target="_blank">
                                Allegations Rebuttal
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="non-scientific.php">Others</a>
                </li>
                <li class="hidden-sm hidden-xs">&nbsp;&nbsp;&nbsp;</li>
                <!--
                <li>
                    <a href="../en/">
                        <img class="menu-flag" src="../../img/flag-es.png">
                    </a>
                </li>
                -->
            </ul>
        </div>
    </div>
</nav>